<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/gallerycss.css">
</head>

<body>
    <ul>
        <li>
            <a href="index.html">Home</a>
            <a href="reserve.html">Reservations</a>
            <a href="offers.html">Offers</a>
            <a href="gallery.html">Gallery</a>
        </li>
    </ul>
    <header>
        <h1><em>GALLERY:</em></h1>
    </header>

    <section>
        <p>Outdoors and Recreational Facilities:</p>
        <img src="/static/img/outdoor1.jpg" alt="">
        <img src="/static/img/outdoor2.jpg" alt="">
        <img src="/static/img/outdoor3.jpg" alt="">
        <img src="/static/img/outdoor4.jpg" alt="">
    </section>
    <section>
        <p>Conference & Meeting Halls</p>
        <img src="/static/img/conference1.jpg" alt="">
        <img src="/static/img/conference2.jpg" alt="">
        <img src="/static/img/outdoor3.jpg" alt="">
    </section>
    <section>
        <p>Catering:</p>
        <img src="/static/img/catering1.jpg" alt="">
        <img src="/static/img/catering2.jpg" alt="">
        <img src="/static/img/catering3.jpg" alt="">

    </section>


    <footer class="footer">
        <p> By Winny Troy</p>
    </footer>
</body>

</html>
