<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Winny Troy</title>
    <link rel="stylesheet" href="/static/css/indexcss.css">
</head>

<body>
    <nav>
        <h1><p>NATARE GARDENS</p></h1>
    </nav>
    <ul>
        <li>
            <a href="{{ url_for('manage.index') }}">Home</a>
            <a href="{{ url_for('manage.display_reservation') }}">Reservations</a>
            <a href="{{ url_for('manage.display_offers') }}">Offers</a>
            <a href="{{ url_for('manage.display_gallery') }}">Gallery</a>
        </li>
    </ul>
    <div class="container">
        <header id="landing">
            <h1>The only hotel in town that gives you value for your<br>
            cash, time, patience.</h1>
        </header>


        <section id="details">
            <div>
                <div class="info">
                    <p>
                        Located along the quiet corners, just off Ngong Road, Azure Blue Hotel boosts contemporary and modern design.
                        <br> The hotel has air conditioned rooms and offers an outdoor pool.
                        <br> Our spacious and elegantly decorated rooms and suites are equipped with air conditioning, LCD Tvs with satelite channels, safety deposit boxes, complimentary tea-and-coffee making facilities,room service and free WIFI, we hope that you enjoy your stay with us abandantly
                        <br>
                        <br>
                        <br>With an outdoor terrance, overlooking the pool, the hotel seeks to serve local and international cuisines. It is easily accessible to several shopping malls anf is 1.5km away from the Yaya Centre.
                        <br> Click <a href="#"><em>Here</em></a> to choose a date to come and view our prices and hopefully get a slice of heaven!
                    </p>
                </div>
                <div class="points">
                    <p>FOLLOW US ON </p>
                    <br><a href="www.twitter.com"><em>Twitter:</em></a>
                    <br>
                    <a href="www.facebook.com"><em>Facebook:</em></a>
                    <br>
                    <a href="www.instagram.com"><em>Instagram:</em></a>
                    <br>
                    <br>Our Offices are always ready and willing to listen to your views and Feedback. Please feel absolutely free to reach out to use through any of the above. However, if you have much sensitive items to discuss, email us on
                    <br><a href="mailto:kiraguwinnie@gmail.com">natareinfo@gmail.com</a>
                </div>
            </div>
            <div id="maps">
            <iframe src=" https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15954.97338289883!2d36.671298!3d-1.330056!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8dcb7abe72ceaf85!2sNatare+Gardens!5e0!3m2!1sen!2s!4v1467439380370" width="1320" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

        </section>


    </div>

</body>

<footer>
    By Winny Troy
</footer>

</html>
