<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/offerscss.css">
</head>

<body>
   <ul>
        <li>
            <a href="index.html">Home</a>
            <a href="reserve.html">Reservations</a>
            <a href="offers.html">Offers</a>
            <a href="gallery.html">Gallery</a>
        </li>
    </ul>
    <header>
        <h1><em>OFFERS PAGE</em></h1>
        <p> <em>We currently have offers on the following items;</em></p>
    </header>

    <section>
        <p>Weddings- <em>Get 30% discount for holding your wedding ceremonies on our grounds upto the 30th of Dec!</em></p>
        <img src="/static/img/wedding1.jpg" alt="">
        <img src="/static/img/wedding2.jpg" alt="">
        <img src="/static/img/wedding3.jpg" alt="">
    </section>
    <section>
        <p>Conference & Meeting Halls- <em>Meetings utilising our conference rooms shall be given free drinks.</em></p>
        <img src="/static/img/conference1.jpg" alt="">
        <img src="/static/img/conference2.jpg" alt="">
        <img src="/static/img/conference3.jpg" alt="">
    </section>
    <section>
        <p>Bon-fire Night- <em>Reserve more than 5 rooms with friends and relatives and enjoy a special bonfire treat!</em></p>
        <img src="/static/img/bonfire1.jpg" alt="">
        <img src="/static/img/bonfire2.jpg" alt="">
        <img src="/static/img/bonfire3.jpg" alt="">
    </section>
    <div>
        <!--include a table here for the menu-->
        <table>
  <tr>
    <th>Dish</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Small Hamburger</td>
    <td>290</td>
  </tr>
  <tr>
    <td>Double Hamburger</td>
    <td>420</td>
  </tr>
  <tr>
    <td>Small Fries</td>
    <td>510</td>
  </tr>
  <tr>
    <td>Small Onion Ring</td>
    <td>310</td>
  </tr>
  <tr>
    <td>Medium Onion RIng</td>
    <td>340</td>
  </tr>
  <tr>
    <td>Small Cheese Burger</td>
    <td>450</td>
  </tr>
  <tr>
    <td>Small soda</td>
    <td>210</td>
  </tr>
  <tr>
    <td>Medium soda</td>
    <td>290</td>
  </tr>
  <tr>
    <td>Small Chocolate Shake</td>
    <td>670</td>
  </tr>
  <tr>
    <td>Medium Chocolate Shake</td>
    <td>990</td>
  </tr>
  <tr>
    <td>Large Chocolate Shake</td>
    <td>1370</td>
  </tr>
  <tr>
    <td>Kids Meal Hamburger</td>
    <td>290</td>
  </tr>
   <tr>
    <td>Hawaian Pizza</td>
    <td>240</td>
  </tr>
  <tr>
    <td>Veggie Pizza</td>
    <td>260</td>
  </tr>
  <tr>
    <td>Taco Tuesday</td>
    <td>320</td>
  </tr>
  <tr>
    <td>Extra Meat</td>
    <td>360</td>
  </tr>
  <tr>
    <td>Supreme</td>
    <td>340</td>
  </tr>
  <tr>
    <td>Extra Fries</td>
    <td>190</td>
  </tr>
</table>

    </div>

    <footer class="footer">
        <p> By Winny Troy</p>
    </footer>
</body>

</html>
